 #line-chart {
                height: 300px;
                width: 800px;
                margin: 0px auto;
                margin-top: 1em;
            }
            
            .brand {
                font-family: georgia, serif;
            }
            
            .brand .first {
                color: #ccc;
                font-style: italic;
            }
            
            .brand .second {
                color: #fff;
                font-weight: bold;
            }
            .input_btn{float: left;}
        .input_btn_h{float: left;height: 34px;margin:10px;border: 1px solid transparent;color: #333;background-color: #fff;border-color: #ccc;}
        .input_btn_seach{float: left;height: 34px;margin:10px;border:transparent;color: #333;background-color: #fff;border-color: #ccc;}
        .input_btn_seach input{height: 100%;border: 1px solid transparent;border-color: #ccc;}
        .container-fluid .row-fluid .packge-fenye{margin: 0}
        .control-label{margin:10px; font-weight: 100;}
        .control-label-title{font-weight: bold;}
        .control-label-title span{font-weight: 100;margin-left: 10px;}
        .form-group-new{margin-top:15px;}
        .control-group{padding:0 1em; margin:2em 0;}

        .calendar{font-family:Tahoma; background:#fff; float:left; border-style:solid; border-width:1px; border-color:#85BEE5 #3485C0 #3485C0 #85BEE5; position:relative; padding:10px;z-index: 9999; }
        .calendar dl,.calendar dd{margin:0; padding:0; width:183px; font-size:12px; line-height:22px;}
        .calendar dt.title-date{ display:block; border-bottom:1px solid #E4E4E4; font-weight:700; position:relative; margin-bottom:5px; padding-bottom:3px;}
        .calendar dt{ float:left; width:25px; margin-left:1px; text-align:center;}
        .calendar dt.title-date{ width:100%;}
        .calendar dd{clear: both;width: 183px;height: 139px;font-weight: 700;background:url(../images/o_bg.png) no-repeat; margin:0;}
        .prevyear,.nextyear, .prevmonth,.nextmonth{cursor:pointer;height:9px; background:url(../images/o_nextprv.png) no-repeat; overflow:hidden;position:absolute; top:8px; text-indent:-999px;}
        .prevyear{  left:4px;  width:9px;}
        .prevmonth{ width:5px; background-position:-9px 0; left:20px;}
        .nextyear{  width:9px; background-position:-19px 0; right:5px;}
        .nextmonth{ width:5px; background-position:-14px 0; right:20px;}
        .calendar dd a{float: left;width: 25px;height: 22px; color:blue; overflow: hidden; text-decoration: none;
            margin: 1px 0 0 1px; text-align:center;}
        .calendar dd a.disabled{color:#999;}
        .calendar dd a.tody{ color:red; }
        .calendar dd a.on{background:blue; color:#fff;}
        .calendar dd a.live{cursor:pointer}
        .input-rili{width: 20%;float: left; margin: 10px 0;}
        @media (max-width: 500px) {
            .input-rili{width: 100%;float: left;}
        }
        @media screen and (min-width: 600px) and (max-width: 900px){
            .input-rili{width: 60%;float: left;}
        }
        .input-group-title{padding:10px;}
        .theadtbody{border:1px solid #ccc;text-align: center;}
		.addadmin li{list-style: none;}
